.card-contianer {
    width: 300px;
    border: solid 3px;
    border-color: black;

}

.parent-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
  }

  .vizSpace {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  ul.dataList {
    list-style-type: square;
  }

  .dataDisplay {
    border-style: solid;
  border-width: 3px;
  border-radius: 10px;
   border-color: '#2A2A2A'
  }

  .vizContainer {
    border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin-left: 10px;
  padding: 0px;
  background-color: #121212;
  }

